body{
    margin: 0;
    padding: 20px;
    background-color: #292e44;
}
h3 {
    font-family: 'Roboto bold', sans-serif;
    color: #292e44;
    display: inline;
    text-align: center;
}
#content {
    background-color: white;
    width: 800px;
    border: 1px solid grey;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    height: 800px;
}
.content-container-lr{
    display: flex;
}
.content-left{
    display: block;
    padding: 10px;
}
.content-right{
    display: block;
    padding: 10px;
}
.content-bottom{
    display: block;
    padding: 10px;
}
#content form input[type="text"], [type="number"]{
    border: 1px solid grey;
    color: grey;
    font:  14px "Roboto Light", sans-serif;
    padding: 12px 10px 12px 40px;
    width: 400px;
}
.content-left-item{
    clear:both;
    text-align:right;
    padding: 10px;
}
select, textarea{
    border: 1px solid grey;
    color: grey;
    font:  14px "Roboto Light", sans-serif;
    padding: 12px 10px 12px 40px;
}
label{
    float:left;
    font: 14px "Roboto Light", sans-serif;
}
#content form input[type="submit"] {
    background: #168fff;
    border: 1px solid #03073f;
    font: bold 16px Arial;
    width: 300px;
    height: 40px;
    margin-top: 10px;
}
#content form input[type="file"]{
    padding: 10px;
}
#content form input[type="submit"]:hover {
    background: #14205d;
    border: 2px solid #03073f;
    color: white;
    cursor: pointer;
}
#content a{
    text-underline-offset: 0.5em;
}
#description{
    margin: 0 auto;
    width: 720px;
    height: 250px;
    resize: none;
}
#seller{
    width: 400px;
    resize: none;
}