body{
    margin: 0;
    padding: 40px;
    background-color: #292e44;
}
#content {
    background-color: white;
    width: 500px;
    border: 1px solid grey;

    margin: 0 auto;
    padding: 20px;
    text-align: center;
    height: 420px;
}
#content form input[type="text"], input[type="password"]{
    border: 1px solid grey;
    color: grey;
    font:  14px Arial;
    margin: 0 0 10px;
    padding: 12px 10px 12px 40px;
    width: 400px;
}
label{
    color: grey;
    font: 14px Arial;
}
#content form input[type="login"], input[type="password"]
:focus {
    border: 2px solid #292e44;
    outline: none;
}
#content form input[type="submit"] {
    background: #168fff;
    border: 1px solid #03073f;
    font: bold 16px Arial;
    width: 450px;
    height: 40px;
    margin-top: 10px;
}
#content form input[type=submit]:hover {
    background: #14205d;
    border: 2px solid #03073f;
    color: white;
    cursor: pointer;
}