<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Заказы</title>
    <link th:href="@{/css/viewOrders.css}" type="text/css" rel="stylesheet">
</head>
<body>

<!--//////////////////////////////////////-->
<div class="navbar">
    <form class="search" th:method="POST" th:action="@{/admin/search}">
        <input type="search" name="search" id="search" placeholder="4 символа № заказа">
        <input type="submit" value="Найти">
    </form>
    <form class="home" th:action="@{/admin}">
        <input type="submit" value="Домой">
    </form>
</div>

<!--////////////////////////////////////////-->
<h3>Заказы</h3>
<div class="grid-container">
    <div class="grid-elem" th:each="order: ${orders}">
        <img th:src="'/img/' + ${order.getProduct().imageList[0].getFileName()}" with="300px">
        <div class="grid-elem-details">
            <p th:text="'Заказ №: ' + ${order.getNumber()}"></p>
            <br>
            <p th:text="'Пользователь: ' + ${order.getPerson().getLogin()}"></p>
            <br>
            <p th:text="'Наименование: ' + ${order.getProduct().getTitle()}"></p>
            <br>
            <p th:text="'Количество: ' +${order.getCount()}"></p>
            <br>
            <p th:text="'Цена: ' + ${order.getProduct().getPrice()}+ ' руб'"></p>
            <br>
            <p th:text="'Дата заказа: ' + ${#temporals.format(order.getDateTime(), 'dd-MMM-yyyy')}"></p>
            <br>
            <p th:text="'Статус заказа: ' + ${order.getStatus()}"></p>
            <br>
            <!--    <button type="submit" th:disabled="${order.getStatus() eq T(com.example.springsecurityapplication.enumm.Status).values()[4]? true:false}">Отменить заказ</button>-->
            <a th:href="@{/admin/status/{id}(id=${order.getId()})}">Внести изменения в заказ</a>
            <!--    <button type="submit" th:disabled="${order.getStatus() eq T(com.example.springsecurityapplication.enumm.Status).values()[4]? true:false}">Отменить</button>-->
        </div>
    </div>
</div>
</body>
</html>