<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавление товара</title>
    <link th:href="@{/css/addProduct.css}" type="text/css" rel="stylesheet">
</head>
<body>
<section id="content">
    <h3>Добавление товара</h3>
    <form th:method="POST" th:action="@{/admin/product/add}" th:object="${product}" enctype="multipart/form-data">
        <div class="content-container-lr">
            <div class="content-left">
                <div class="content-left-item">
                    <label for="title">Введите наименование:</label>
                    <input type="text" th:field="*{title}" id="title">
                    <div style="color: red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
                </div>
                <div class="content-left-item">
                    <label for="price">Введите цену: </label>
                    <input type="number" th:field="*{price}" min="1" step="0.00" id="price">
                    <div style="color: red" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>
                </div>
                <div class="content-left-item">
                    <label for="warehouse">Введите информацию о складе:</label>
                    <input type="text" th:field="*{warehouse}" id="warehouse">
                    <div style="color: red" th:if="${#fields.hasErrors('warehouse')}" th:errors="*{warehouse}"></div>
                </div>
                <div class="content-left-item">
                    <label for="category">Выберите категорию товара: </label>
                    <select name="category" th:field="*{category}" id="category">
                        <div th:each="element : ${category}">
                            <option th:text="${element.getName()}" th:value="${element.getId()}"></option>
                        </div>
                    </select>
                </div>
                <div class="content-left-item">
                    <label for="seller">Введите данные о продавце: </label>
                    <textarea th:field="*{seller}" id="seller"></textarea>
                    <div style="color: red" th:if="${#fields.hasErrors('seller')}" th:errors="*{seller}"></div>
                </div>
            </div>
            <div class="content-right">
                <p style="color: red">Вы можете добавить до 5 фотографий. Первая фотография не может быть пустой</p>
                <input type="file" name="file_one">
                <input type="file" name="file_two">
                <input type="file" name="file_three">
                <input type="file" name="file_four">
                <input type="file" name="file_five">
            </div>
        </div>

        <div class="content-bottom">
            <label for="description">Введите описание: </label>
            <br>
            <textarea th:field="*{description}" id="description"></textarea>
            <div style="color: red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
        </div>
        <input type="submit" value="Добавить">
    </form>
</section>
</body>
</html>