<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Информация о товаре</title>
    <link th:href="@{/css/infoProduct.css}" type="text/css" rel="stylesheet">
</head>
<body>
    <div class="info">
        <p th:text="'НАИМЕНОВАНИЕ: ' + ${product.getTitle()}"></p>
        <p th:text="'ОПИСАНИЕ: ' + ${product.getDescription()}"></p>
        <p th:text="'ЦЕНА: ' + ${product.getPrice()}"></p>
        <p th:text="'СКЛАД: ' + ${product.getWarehouse()}"></p>
        <p th:text="'ПРОДАВЕЦ: ' + ${product.getSeller()}"></p>
        <p th:text="'КАТЕГОРИЯ ТОВАРА: ' + ${product.getCategory().getName()}"></p>
    </div>
    <div class="block-img">
        <div class="grid-container">
            <div class="grid-elem" th:each="img : ${product.getImageList()}">
                <img class="grid-elem-img" th:src="'/img/' + ${img.getFileName()}" with="300px">
            </div>
        </div>
    </div>

</body>
</html>