<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Регистрация</title>
  <link th:href="@{/css/registration.css}" type="text/css" rel="stylesheet">
</head>
<body>
<div>
  <section id="content">
    <form method="post" th:action="@{/auth/registration}" th:object="${person}">
      <h3>РЕГИСТРАЦИЯ</h3>
      <div>
        <label for="login">Введите логин: </label><br>
        <input type="text"  th:field="*{login}" placeholder="Введите пароль" name="username" id="login">
        <div style="color: red" th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></div>
      </div>

      <div>
        <label for="password">Введите пароль: </label><br>
        <input type="password" th:field="*{password}" placeholder="Введите пароль" name="password" id="password">
        <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
      </div>
      <div>
        <input type="submit" value="Зарегистрироваться">
      </div>
    </form>
  </section>
</div>
</body>
</html>