<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Заказы</title>
    <link th:href="@{/css/cart.css}" type="text/css" rel="stylesheet">
</head>
<body>
<h3>Заказы</h3>
<div class="container" th:each="order: ${orders}">
    <div class="container-img">
        <img style="width: 150px" th:src="'/img/' + ${order.getProduct().imageList[0].getFileName()}">
    </div>
    <div class="container-title">
        <h3 style="color: black" th:text="'Заказ № ' + ${order.getNumber()}"></h3>
        <p th:text="'Наименование: ' + ${order.getProduct().getTitle()}"></p>
        <p th:text="'Дата заказа: ' + ${#temporals.format(order.getDateTime(), 'dd-MMM-yyyy')}"></p>
        <p th:text="'Статус заказа: ' + ${order.getStatus()}"></p>
    </div>
    <div class="container-price">
        <p th:text="'Кол-во: ' +${order.getCount()}"></p>
        <p th:text="'Цена: ' + ${order.getProduct().getPrice()}"></p>
    </div>
</div>
</body>
</html>